@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Outfit:wght@300;400;500;600;700;800;900&display=swap');

@theme {
  --font-sans: 'Inter', 'system-ui', 'sans-serif';
  --font-outfit: 'Outfit', 'sans-serif';
  
  --color-primary: #2563EB;
  --color-secondary: #0F172A;
  --color-background: #F8FAFC;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
}

@layer base {
  body {
    @apply bg-background text-secondary font-sans antialiased;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full;
}
