@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-primary: #0a4d68;
  --color-primary-light: #088395;
  --color-secondary: #05bfdb;
  --color-accent: #00ffca;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}
